@import "bourbon"
@import "./components/vars"




.element-title
	text-align: center
	font-size: rem(30)
	color: #000

.element-mod-title
	margin-top: rem(50)
	margin-bottom: rem(25)
	font-size: rem(20)
	color: #000


//________ STYLES ________


.accordion
	max-width: 600px
	border: 1px solid $c-border
	box-shadow: 0 0 10px rgba(#000, .7)
	border-radius: 2px

.accordion__tab
	
.accordion__head
	padding: 10px 15px
	font-size: 18px
	transition: all .2s
	cursor: pointer
	border-bottom: 1px solid  #1197FE
	background: $c-accent

	.accordion__tab:last-child &
		border-bottom: none

	&:hover
		background: $c-accent_l

	&:active
		background: $c-accent_d

.accordion__content
	padding: 10px 15px

	