.content-w {
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .content-w {
      padding-left: 15px;
      padding-right: 15px; } }

.hidden {
  display: none !important; }

.invisible {
  opacity: 0 !important; }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.ic-t {
  font-size: 0; }
  .ic-t > * {
    vertical-align: top;
    font-size: 16px; }

.ic-m {
  font-size: 0; }
  .ic-m > * {
    vertical-align: middle;
    font-size: 16px; }

.np {
  margin-left: -15px;
  margin-right: -15px; }

.vc {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .vc iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.va {
  position: relative; }
  .va:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

.element-title {
  text-align: center;
  font-size: 1.875rem;
  color: #000; }

.element-mod-title {
  margin-top: 3.125rem;
  margin-bottom: 1.5625rem;
  font-size: 1.25rem;
  color: #000; }

.accordion {
  max-width: 600px;
  border: 1px solid #122CEC;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border-radius: 2px; }

.accordion__head {
  padding: 10px 15px;
  font-size: 18px;
  transition: all .2s;
  cursor: pointer;
  border-bottom: 1px solid  #1197FE;
  background: #4452DF; }
  .accordion__tab:last-child .accordion__head {
    border-bottom: none; }
  .accordion__head:hover {
    background: #5a66e3; }
  .accordion__head:active {
    background: #2e3edb; }

.accordion__content {
  padding: 10px 15px; }
